body {
    background-color: rgb(15, 189, 233);
    color: rgb(10, 10, 10);
    margin: 5px;
    padding: 2px;
}
header,
footer {
    text-align: right;
    background-color: rgb(238, 136, 20);
}